*{margin:0;
  padding:0;
  box-sizing: border-box;
}

html,
body{
width: 100vw;
height:100vh;
}



#block{
    display: flex;
    height: 100%;
     flex-direction: row;
     flex-wrap: wrap;
     /* justify-content: flex-end;
     justify-content: center; */
     /* justify-content: flex-start;
     justify-content: space-around;
     justify-content: space-between;
     justify-content: space-evenly; */
     /* align-content: center; */
     align-items: center;

}

.A,
.B,
.C,
.D,
.E,
.F{height: 50px;
   border: 2px solid #000;
   margin: 1px;
   text-align: center;
   /* flex-grow: 1;
   flex-shrink: 1; */
   
 }  

.A{
    align-self: start;
    order: 1
}

/* 
.B{
    flex-grow: 2;
  }

.C{ 
    flex-shrink: 3;
} */

.B{
   width: 200px;
   align-self: end;
   order: 1
   }
.E{
    order: -1;
    background-color: deeppink;
}

